# Ignore everything in the models folder
models/*

# But do NOT ignore the .gitkeep file
!models/.gitkeep

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]
.env
